.step(data-title='Interacting with Appointments',
data-file="AppointmentReminders.Web/Views/Appointments/Index.cshtml",
data-mode="html")
  h2 Interacting with Appointments

  blockquote 
    | As a user, I want to view a list of all future appointments, and be able
    to delete those appointments.
  :markdown
    If you're an organization that handles a lot of appointments, you probably
      want to be able to view and manage them in a single interface. That's what
      we'll tackle in this user story. We'll create a UI to:

    * Show all appointments
    * Delete individual appoinments

    Let's start by looking at the controller.

.step(data-title='The controller',
data-file='AppointmentReminders.Web/Controllers/AppointmentsController.cs',
data-highlight='34-40')
  :markdown
    ## Showing a List of Appointments

    At the controller level, we'll get a list of all the appointments
    in the database and render them with a view. We also add a prompt
    if there aren't any appointments, so the admin user can create one.

    Let's go back to the template to see our list of appointments.

.step(data-title='View all Appointments',
data-file='AppointmentReminders.Web/Views/Appointments/Index.cshtml',
data-mode="html", data-highlight="29-55")
  :markdown
    ## View All Appointments

    The index view lists all appointments which are sorted by `Id`. The only
    thing we need to add to fulfill our user story is a delete button. We'll add
    the edit button just for kicks.

    *HTML Helpers*

    You may notice that instead of hard-coding the urls for Edit and Delete we
    are using a ASP.NET MVC [HTML
    Helpers](https://msdn.microsoft.com/en-us/library/system.web.mvc.htmlhelper.aspx).
    If you view the rendered markup you will see these paths.

    * `/Appointments/Edit/(some ID)` for edit
    * `/Appointments/Delete/(some ID)` for delete

    `AppointmentsController.cs` contains methods which handle both the edit and delete
    operations.

    Now that we have the ability to create, view, edit, and delete appointments,
    we can dig into the fun part - scheduling a recurring job that will send out
    reminders via SMS when an appointment is coming up!
