@model AppointmentReminders.Web.Models.Appointment

<div class="page-header">
    <h1>Appointment</h1>
</div>

<dl class="dl-horizontal">
    <dt><strong>@Html.DisplayNameFor(x => x.Name)</strong></dt>
    <dd>@Html.DisplayFor(x => x.Name)</dd>
    <dt><strong>@Html.DisplayNameFor(x => x.PhoneNumber)</strong></dt>
    <dd>@Html.DisplayFor(x => x.PhoneNumber)</dd>
    <dt><strong>@Html.DisplayNameFor(x => x.Time)</strong></dt>
    @* TODO: Add helper to display the data properly *@
    <dd>@Html.DisplayFor(x => x.Time)</dd>
</dl>

@Html.ActionLink("Back", "Index", new {Controller = "Appointments"}, new {@class = "btn btn-default"})
@Html.ActionLink("Edit","Edit", new { Controller = "Appointments", id = Model.Id }, new { @class = "btn btn-default" })
@Html.ActionLink(
    "Delete",
    "Delete",
    new { Controller = "Appointments", id = Model.Id },
    new { @class = "btn btn-danger", onclick = "return confirm('Are you sure?');" })